.acordion {
  display: flex;
  align-items: center;

  &__box {
    flex-direction: column;
  }

  &__line {
    flex-direction: row;

    &--moved {
      padding-left: 0.2em;
    }

    .key {
      width: 3.5em;
      height: 3.5em;
      border-radius: 50%;
      margin: 0 0.2em;
      padding: 1em;
      background-color: rgba($color: #a36758, $alpha: 1);

      &--shifted {
        background-color: rgba($color: #849b5f, $alpha: 1);
      }

      &--active {
        background-color: rgba($color: #e2a24e, $alpha: 1);
      }
    }
  }
}
