
.acordion {
  display: flex;
  &__box{
    flex-direction: column;
  }
  &__line{
    flex-direction: row;
    &--moved{
      padding-left: 1.5em;
    }
}


}
.circle {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin: 0 0.2em;
  padding: 1em;
}
